Repository SELab-2/Dr-Trottoir-1, pull requests merged in 2023-05, with the labels that each got.

#315 API: Address route
  api/__tests__/example.test.ts
  api/__tests__/mock/database.ts
  api/__tests__/routes/action.test.ts
  api/__tests__/routes/address.test.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/routes/garbage.test.ts
  api/__tests__/routes/schedule.test.ts
  api/__tests__/routes/syndicus.test.ts
  api/__tests__/routes/user.test.ts
  api/src/main.ts
  api/src/routes/address.ts
  api_query/src/address.ts
  api_query/src/index.ts
Labels: api

#313 Web: Toevoeging van correcte types bij authenticatie
  api_query/package-lock.json
  api_query/package.json
  api_query/src/index.ts
  web/package-lock.json
  web/package.json
  web/src/stores/auth.ts
Labels: web

#310 Test: round
  api/__tests__/routes/round.test.ts
Labels: api, test

#320 Api: mail template
  api/__tests__/mock/database.ts
  api/__tests__/mock/mail_template.ts
  api/__tests__/routes/mail_template.test.ts
  api/package-lock.json
  api/package.json
  api/src/main.ts
  api/src/routes/mail_template.ts
  orm/package-lock.json
  orm/package.json
  orm/prisma/schema.prisma
Labels: api, database, test

#334 API toevoeging: autorisatie voor syndicus
  api/src/auth/auth.ts
  api/src/routes/building.ts
  api/src/routes/garbage.ts
  api/src/routes/progress.ts
  api/src/routes/schedule.ts
  api/src/routes/syndicus.ts
  api/src/routes/user.ts
Labels: api

#337 API: nieuwe mail route
  api/example.env
  api/package-lock.json
  api/package.json
  api/src/main.ts
  api/src/routes/mail.ts
  api_query/src/index.ts
  api_query/src/mail.ts
Labels: api

#348 API: autorisatie voor student voor getAll in route Garbage
  api/__tests__/routes/garbage.test.ts
  api/src/routes/garbage.ts
Labels: api

#354 API: Data validatie
  api/__tests__/example.test.ts
  api/__tests__/routes/action.test.ts
  api/__tests__/routes/address.test.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/routes/garbage.test.ts
  api/__tests__/routes/mail_template.test.ts
  api/__tests__/routes/round.test.ts
  api/__tests__/routes/schedule.test.ts
  api/__tests__/routes/syndicus.test.ts
  api/__tests__/routes/user.test.ts
  api/__tests__/utilities/Testrunner.ts
  api/package-lock.json
  api/package.json
  api/src/errors/error_handler.ts
  api/src/parser.ts
  api/src/routes/action.ts
  api/src/routes/address.ts
  api/src/routes/auth.ts
  api/src/routes/building.ts
  api/src/routes/garbage.ts
  api/src/routes/mail_template.ts
  api/src/routes/progress.ts
  api/src/routes/region.ts
  api/src/routes/round.ts
  api/src/routes/round_building.ts
  api/src/routes/routing.ts
  api/src/routes/schedule.ts
  api/src/routes/syndicus.ts
  api/src/routes/user.ts
  api/src/routes/user_region.ts
  api/src/validators/action.validator.ts
  api/src/validators/address.validator.ts
  api/src/validators/auth.validator.ts
  api/src/validators/building.validator.ts
  api/src/validators/garbage.validator.ts
  api/src/validators/mailtemplate.validator.ts
  api/src/validators/progress.validator.ts
  api/src/validators/region.validator.ts
  api/src/validators/round.validator.ts
  api/src/validators/round_building.validator.ts
  api/src/validators/schedule.validator.ts
  api/src/validators/syndicus.validator.ts
  api/src/validators/user.validator.ts
  api/src/validators/user_region.validator.ts
  api/src/validators/validator.ts
Labels: enhancement, api

#173 File upload/download routes
  api/__tests__/mock/building.ts
  api/__tests__/mock/database.ts
  api/__tests__/mock/file.ts
  api/__tests__/mock/schedule.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/utilities/Testrunner.ts
  api/example.env
  api/package-lock.json
  api/package.json
  api/src/main.ts
  api/src/routes/file.ts
  orm/package-lock.json
  orm/package.json
  orm/prisma/schema.prisma
Labels: api

#311 API: new functions in query builder for analytics
  api/__tests__/mock/building.ts
  api/__tests__/mock/schedule.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/routes/schedule.test.ts
  api/package-lock.json
  api/package.json
  api/src/routes/building.ts
  api/src/validators/building.validator.ts
  api/src/validators/schedule.validator.ts
  api_query/package-lock.json
  api_query/package.json
  api_query/src/building.ts
  api_query/src/user.ts
  orm/package-lock.json
  orm/package.json
  orm/prisma/schema.prisma
Labels: enhancement, api

#347 Frontend: responsive design planning
  web/src/components/popups/CardPopup.vue
  web/src/components/popups/StartRoundPopupContent.vue
  web/src/layouts/MainLayout.vue
  web/src/plugins/vuetify.ts
  web/src/views/student/SchedulingScreenStudents.vue
Labels: web

#380 Frontend: Login bevestigen met enter
  web/src/views/account/LoginScreen.vue
Labels: web

#353 QueryBuilder: mail_template
  api_query/__tests__/mail_template.test.ts
  api_query/src/index.ts
  api_query/src/mail_template.ts
Labels: api

#382 Hotfix: Validators
  api/src/validators/action.validator.ts
  api/src/validators/address.validator.ts
  api/src/validators/building.validator.ts
  api/src/validators/garbage.validator.ts
  api/src/validators/mailtemplate.validator.ts
  api/src/validators/progress.validator.ts
  api/src/validators/region.validator.ts
  api/src/validators/round.validator.ts
  api/src/validators/round_building.validator.ts
  api/src/validators/schedule.validator.ts
  api/src/validators/syndicus.validator.ts
  api/src/validators/user.validator.ts
Labels: bug, api

#270 Frontend: mobiel design rondedetailpagina
  server/developer.env
  web/README.md
  web/src/components/buttons/AddButton.vue
  web/src/components/images/PhotoMaker.vue
  web/src/components/models/Button.ts
  web/src/components/models/Photo.ts
  web/src/components/round/Progress.vue
  web/src/components/round/RoundDetailCard.vue
  web/src/layouts/MainLayout.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/round/RoundDetail.vue
Labels: web

#390 API: test auth
  api/__tests__/routes/auth.test.ts
  api/__tests__/utilities/constants.ts
Labels: test

#366 API: extra tests address
  api/__tests__/mock/address.ts
  api/__tests__/routes/address.test.ts
  api/__tests__/routes/user.test.ts
  api/__tests__/utilities/constants.ts
  api/src/routes/address.ts
Labels: test

#308 Region tests
  api/__tests__/routes/region.test.ts
  api/__tests__/routes/user_region.test.ts
  api/src/routes/region.ts
  api/src/validators/action.validator.ts
  api/src/validators/address.validator.ts
  api/src/validators/building.validator.ts
  api/src/validators/garbage.validator.ts
  api/src/validators/mailtemplate.validator.ts
  api/src/validators/progress.validator.ts
  api/src/validators/region.validator.ts
  api/src/validators/round.validator.ts
  api/src/validators/round_building.validator.ts
  api/src/validators/schedule.validator.ts
  api/src/validators/syndicus.validator.ts
  api/src/validators/user.validator.ts
Labels: api, test

#381 Frontend: Reponsief design en verdere implementatie gebouwenpagina
  web/package-lock.json
  web/package.json
  web/src/components/round/RoundCard.vue
  web/src/plugins/index.ts
  web/src/views/account/UserCreation.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/round/Round.vue
  web/src/views/round/RoundDetail.vue
Labels: web

#398 API: extra veld `description` bij Round en Building
  api/__tests__/mock/building.ts
  api/__tests__/mock/round.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/routes/garbage.test.ts
  api/__tests__/routes/round.test.ts
  api/__tests__/routes/schedule.test.ts
  api/__tests__/routes/syndicus.test.ts
  api/__tests__/routes/user.test.ts
  api/package-lock.json
  api/package.json
  api/src/routes/building.ts
  api/src/routes/round.ts
  api/src/routes/routing.ts
  api/src/validators/building.validator.ts
  api/src/validators/round.validator.ts
  api_query/package-lock.json
  api_query/package.json
  api_query/src/building.ts
  api_query/src/include.ts
  api_query/src/round.ts
  orm/package-lock.json
  orm/package.json
  orm/prisma/schema.prisma
Labels: api, database

#365 API: aanpassing autorisatie voor superstudent in route Progress
  api/src/auth/auth.ts
  api/src/routes/progress.ts
Labels: api

#410 API: Wachtwoord validatie
  api/__tests__/routes/user.test.ts
  api/package-lock.json
  api/package.json
  api/src/routes/user.ts
  api/src/validators/user.validator.ts
Labels: api

#411 API: Parser tests
  api/__tests__/utilities/parser.test.ts
  api/src/parser.ts
Labels: api

#370 API: extra testen user
  api/__tests__/mock/user.ts
  api/__tests__/routes/user.test.ts
Labels: test

#402 Frontend: API-Integratie Ronde
  web/package-lock.json
  web/package.json
  web/src/assets/scripts/roundProgress.ts
  web/src/components/filter/DateRange.vue
  web/src/components/maps/MapComponent.vue
  web/src/components/popups/CardPopup.vue
  web/src/components/round/RoundCard.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/round/Round.vue
  web/src/views/student/SchedulingScreenStudents.vue
Labels: web, api

#409 Frontend: API integratie gebouw + responsief
  web/src/assets/scripts/date.ts
  web/src/components/building/SyndicusButtons.vue
  web/src/components/filter/DateRange.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/round/Round.vue
Labels: web, api

#422 Frontend: Kleine upgrades
  web/package-lock.json
  web/src/assets/images/afval-illustraties-05.png
  web/src/assets/images/afval-illustraties.png
  web/src/components/cards/RoundCard.vue
  web/src/components/filter/DashBoardSearch.vue
  web/src/components/images/PhotoMaker.vue
  web/src/components/models/Photo.ts
  web/src/components/round/RoundDetailCard.vue
  web/src/router/index.ts
  web/src/views/NotFound.vue
  web/src/views/account/LoginScreen.vue
  web/src/views/dashboard/Buildings.vue
  web/src/views/dashboard/Round.vue
  web/src/views/dashboard/Users.vue
  web/src/views/round/RoundDetail.vue
  web/src/views/student/SchedulingScreenStudents.vue
Labels: web

#441 Documentatie voor contact pagina
  docs/manual/assets/contact_syndicus.jpg
  docs/manual/manual_home.md
  docs/manual/pages/administration/gebruikers.md
  docs/manual/pages/contact/contact_syndicus.md
  docs/manual/users/admin.md
Labels: documentation

#438 API: Async/Await voor mailserver interactie.
  api/src/routes/mail.ts
Labels: api

#437 Web: niet herladen bij verwijderen van wijzigingen account
  web/src/views/account/AccountSettings.vue
Labels: web

#436 Web: hernoemen van `BuildingCard`
  web/src/components/cards/RoundBuildingCard.vue
  web/src/views/round/Round.vue
Labels: web

#363 API: tests round_building
  api/__tests__/routes/round_building.test.ts
  api/src/routes/round_building.ts
  api/src/validators/round_building.validator.ts
Labels: test

#459 API: bug 454
  api/__tests__/routes/schedule.test.ts
  api/src/routes/schedule.ts
  web/src/views/building/GarbageMaker.vue
Labels: api

#448 Frontend: soft deletes warnings op alle pagina's
  api/src/validators/user.validator.ts
  web/src/components/cards/RemovedCard.vue
  web/src/views/account/AccountSettings.vue
  web/src/views/building/BuildingScreen.vue
Labels: web

#463 Database: backup en restore scripts
  orm/scripts/backup.sh
  orm/scripts/restore.sh
Labels: server

#462 API: soft deleting van ronde
  api/__tests__/routes/progress.test.ts
  api/__tests__/routes/round.test.ts
  api/__tests__/routes/round_building.test.ts
  api/__tests__/routes/schedule.test.ts
  api/__tests__/utilities/Testrunner.ts
  api/src/routes/round.ts
  api/src/validators/round.validator.ts
  orm/prisma/schema.prisma
Labels: bug, api

#474 Web: uploaden van handleiding bij aanmaken gebouw
  web/src/views/building/BuildingMaker.vue
Labels: web

#465 Web: Carousel met afbeeldingen van gebouw
  web/src/views/building/BuildingScreen.vue
Labels: web

#480 Frontend: Align icoontjes in niet-actieve tekstvelden.
  web/src/components/forms/AddressForm.vue
  web/src/components/forms/ContactForm.vue
Labels: bug, web

#360 API: testen `progress`
  api/__tests__/routes/progress.test.ts
  api/src/routes/progress.ts
Labels: test

#368 API: extra testen building
  api/__tests__/mock/building.ts
  api/__tests__/routes/building.test.ts
  api/src/validators/building.validator.ts
Labels: test

#505 API: tabel `Action` verwijderd
  api/__tests__/example.test.ts
  api/__tests__/mock/database.ts
  api/__tests__/mock/garbage.ts
  api/__tests__/routes/action.test.ts
  api/__tests__/routes/garbage.test.ts
  api/src/main.ts
  api/src/routes/action.ts
  api/src/routes/building.ts
  api/src/routes/garbage.ts
  api/src/validators/action.validator.ts
  api/src/validators/garbage.validator.ts
  api_query/src/action.ts
  api_query/src/garbage.ts
  api_query/src/index.ts
  orm/prisma/schema.prisma
  web/src/components/building/GarbageSchedule.vue
  web/src/components/cards/BuildingSelectCard.vue
  web/src/components/cards/RoundCard.vue
  web/src/types/GarbageOverviewTable.ts
  web/src/types/GarbageTable.ts
  web/src/views/account/AccountSettings.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/building/GarbageMaker.vue
  web/src/views/contact/TemplateBuilder.vue
Labels: api, database

#498 Web: syndicus ziet taken
  web/src/views/building/BuildingScreen.vue
Labels: web

#501 Web: super-student sjabloon maken
  web/src/views/dashboard/Template.vue
Labels: web

#482 API: gebruik address_id in plaats van address
  api/__tests__/mock/user.ts
  api/__tests__/routes/user.test.ts
  api/src/validators/user.validator.ts
Labels: api

#478 Frontend: cleanup usercreation code
  api_query/package-lock.json
  web/src/views/account/UserCreation.vue
Labels: bug, web, api

#511 Server: redirect alle URLs naar Vue
  .dockerignore
  Dockerfile
  server/nginx.conf
Labels: server

#513 Web: bar chart statistieken voor gebouwen
  api_query/src/building.ts
  web/package-lock.json
  web/package.json
  web/src/components/cards/BuildingAnalyticCard.vue
  web/src/views/building/BuildingScreen.vue
Labels: web

#514 Web: integratie statistieken voor studenten
  web/src/components/cards/UserAnalyticCard.vue
Labels: web

#509 Documentation/feature/gebouw info
  docs/manual/assets/gebouw_detail.png
  docs/manual/pages/detail/gebouw.md
Labels: documentation

#517 Web: updated round deletion popup
  web/src/views/round/Round.vue
Labels: web

#522 Web: round start popup redesign
  web/src/components/popups/StartRoundPopupContent.vue
Labels: web

#452 Frontend: consistent Roundbuttons zonder click event naar labels aanpassen
  web/cypress/component/test.cy.ts
  web/src/components/building/SyndicusButtons.vue
  web/src/components/buttons/RoundedButton.vue
  web/src/components/buttons/SimpleButton.vue
  web/src/components/cards/ImageCard.vue
  web/src/components/cards/RoundSelectCard.vue
  web/src/components/chips/RoundedInfoChip.vue
  web/src/components/filter/LargeFilter.vue
  web/src/components/images/PhotoMaker.vue
  web/src/components/round/RoundCard.vue
  web/src/components/round/RoundDetailCard.vue
  web/src/views/account/AccountSettings.vue
  web/src/views/building/BuildingScreen.vue
  web/src/views/contact/TemplateBuilder.vue
  web/src/views/dashboard/Buildings.vue
  web/src/views/dashboard/Round.vue
  web/src/views/dashboard/Users.vue
  web/src/views/round/Round.vue
  web/src/views/round/RoundPlanner.vue
  web/src/views/student/SchedulingScreenStudents.vue
Labels: web

#524 Hotfix: remove unused wrong building querry in useranalytics
  web/src/components/cards/UserAnalyticCard.vue
Labels: bug, web

#528 Web: refactor van Building Card
  web/src/components/cards/BuildingCard.vue
Labels: web

#529 Web: fix #520
  web/src/views/account/AccountSettings.vue
Labels: web

#532 Query: remove hard coded server address
  api_query/src/file.ts
Labels: web

#531 Web: fix #499
  web/src/views/building/BuildingScreen.vue
Labels: web

#426 API: Testen `/file` route
  api/.gitignore
  api/__tests__/example.test.ts
  api/__tests__/mock/building.ts
  api/__tests__/mock/file.ts
  api/__tests__/mock/file_server/example.txt
  api/__tests__/mock/file_server/manual.pdf
  api/__tests__/mock/schedule.ts
  api/__tests__/mock/upload_files/test2.txt
  api/__tests__/routes/address.test.ts
  api/__tests__/routes/building.test.ts
  api/__tests__/routes/file.test.ts
  api/__tests__/routes/garbage.test.ts
  api/__tests__/routes/mail_template.test.ts
  api/__tests__/routes/progress.test.ts
  api/__tests__/routes/region.test.ts
  api/__tests__/routes/round.test.ts
  api/__tests__/routes/round_building.test.ts
  api/__tests__/routes/schedule.test.ts
  api/__tests__/routes/syndicus.test.ts
  api/__tests__/routes/user.test.ts
  api/__tests__/routes/user_region.test.ts
  api/__tests__/utilities/Testrunner.ts
  api/package-lock.json
  api/package.json
  api/src/routes/file.ts
  api_query/src/building.ts
Labels: test

#538 Bug: Sta enkel admin users toe om permissieniveau aan te passen
  api/__tests__/routes/user.test.ts
  api/src/routes/user.ts
Labels: bug, api

#534 Documentatie: spellingsfouten verbeterd
  docs/README.md
  docs/manual/README.md
  docs/manual/navbar.md
  docs/manual/pages/account/account.md
  docs/manual/pages/account/login.md
  docs/manual/pages/account/update_account.md
  docs/manual/pages/administration/email-sjablonen.md
  docs/manual/pages/administration/gebruikers.md
  docs/manual/pages/contact/contact_syndicus.md
  docs/manual/pages/create/create_afval.md
  docs/manual/pages/create/create_rondes.md
  docs/manual/pages/detail/gebouw.md
  docs/manual/pages/detail/ronde_schedule.md
  docs/manual/pages/ronde/ronde_inplannen.md
  docs/manual/pages/ronde/rondedetail.md
  docs/manual/pages/ronde/rondeoverzicht.md
  docs/manual/users/admin.md
  docs/manual/users/nav_sections/administration.md
  docs/manual/users/nav_sections/followup.md
  docs/manual/users/student.md
  docs/manual/users/superstudent.md
  docs/manual/users/syndicus.md
Labels: documentation
