Repository SELab-2/Dr-Trottoir-1, pull requests merged in 2023-04, with the labels that each got.

#278 Frontend: empty schedule
  web/src/views/student/SchedulingScreenStudents.vue
Labels: bug, web

#279 Hotfix: web: student planning correct route to round detail
  web/src/views/round/RoundDetail.vue
  web/src/views/student/SchedulingScreenStudents.vue
Labels: bug, web

#286 Docker healthchecks
  server/docker-compose.yml
Labels: server

#287 Meta: Template voor nieuwe Pull Requests
  .github/pull_request_template.md
Labels: enhancement

#218 API: testen voor route garbage
  api/__tests__/routes/garbage.test.ts
Labels: api

#291 API: Stel CORS URL in aan de hand van *environment variables*.
  .github/workflows/api-lint.yml
  .github/workflows/api-query-test.yml
  .github/workflows/api-test.yml
  .github/workflows/web-lint.yml
  api/.dockerignore
  api/.prettierignore
  api/README.md
  api/example.env
  api/package.json
  api/src/errors/error_handler.ts
  api/src/main.ts
  server/README.md
  server/cleanup.sh
  server/developer-compose.yml
  server/developer.env
  server/docker-compose.yml
  server/example.env
  server/generate_data.sh
  web/Dockerfile
  web/src/main.ts
  web/vite.config.ts
Labels: api, server
